.hero {
  background: var(--white);
  padding-left: var(--mainPaddingX);
}

.hero-content {
  display: flex;
}

.hero-column {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15rem;
  /* border: 2px solid green; */
  height: 100%;
  max-width: 57rem;
}

.hero-column:nth-child(2) {
  transform: translateX(12rem);
}

.hero-header {
  font-size: 8rem;
  line-height: 8rem;
  letter-spacing: -2px;
  position: relative;
  z-index: 5;
}

.hero-blurb {
  font-size: 2.2rem;
  margin: 1.5rem 0;
  line-height: 3.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--gray);
}

.mobile {
  display: none;
}

.hero-img {
  pointer-events: none;
  animation: float 10s infinite;
}

@keyframes float {
  0% {
    transform: translateY(-5rem);
  }
  50% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(-5rem);
  }
}

@media screen and (max-width: 850px) {
  .hero {
    padding-left: 0rem;
    padding: 0 1rem;
  }
  .hero-content {
    display: block;
  }

  .hero-column {
    width: 100%;
    max-width: none;
  }

  .hero-column-content {
    text-align: center;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .hero-column:nth-child(2) {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .hero-header {
    font-size: 4.2rem;
    line-height: 4.8rem;
  }

  .hero-blurb {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  @keyframes float {
    0% {
      transform: translateY(-3rem);
    }
    50% {
      transform: translateY(4rem);
    }
    100% {
      transform: translateY(-3rem);
    }
  }
}
