@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --cyan: hsl(180, 66%, 49%);
  --darkviolet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --white: #ffffff;
  --grayviolet: hsl(257, 7%, 63%);
  --lightgraybg: #eff1f7;
  --darkblue: hsl(255, 11%, 22%);
  --verydarkviolet: hsl(260, 8%, 14%);
  /* --mainPaddingX: 16.3rem; */
  --mainPaddingX: 11%;
  --mainFont: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  max-width: 144rem;
  margin: 0 auto;
  /* border: 2px solid black; */
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--mainFont);
}

.btn {
  padding: 1.4rem 4rem;
  width: fit-content;
  white-space: nowrap;
  border-radius: 100px;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.primary {
  border-radius: 100px;
}

.cyan {
  background: var(--cyan);
  color: var(--white);
}

.cyan:hover {
  opacity: 75%;
}
